/* Global styles */

*
{
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    font-family: monospace;
}

a
{
    text-decoration: none;
    transition: 0.6s;
}

a:hover
{
    color:#ff4800;
    transition: 0.6s;
}

hr
{
    background-color: #af5500;
}

p 
{
    font-size: 1.2em;
    margin-bottom: 1em !important;
}

h1 
{
    font-size: 2.5em !important;
    margin-bottom: 2vw !important;
    color: #af5500;
}

h2 
{
    font-size: 2em;
    margin-bottom: 2vw !important;
    color: #af5500;
}

h3
{
    color: #af5500;
    padding-bottom: 1em;
}

li 
{
    font-size: 2.5vh !important;
    margin-bottom: 10px !important;
}

/* Body */

.top
{
    text-align: center;
    padding-bottom: 2px;
    padding-top: 2em;
}

.favicon
{
    text-align: center;
}
.body q
{
    font-style: italic;
    color: rgb(32, 32, 32);
}

.main
{
    width: 50vw;
    margin: auto;
}

.main a
{
    font-style: italic;
}

.blog
{
    padding-bottom: 2em;
}

.blog a
{
    font-size: 1.5em;
}

/* Mobile optimizations */

@media only screen and (max-width: 1026px) 
{

.main 
{
    width: 90vw;
    padding: 5px;
}

}