/* global styles */

*
{
    background-color: rgb(59, 59, 59);
    color: whitesmoke;
    font-family: monospace;
}

a
{
    text-decoration: none;
    transition: 0.3s;
}

a:hover
{
    color: lightblue;
    text-decoration: underline;
    transition: 0.3s;
}

/* header */

header 
{
    overflow: hidden;
}

header nav
{
    float: right;
    font-size: 16px;
}

header nav a
{
    padding: 5px;
}

/* body */

.top
{
    text-align: center;
    padding-bottom: 69px;
}

.body q
{
    font-style: italic;
}

.main
{
width: 50vw;
padding: 10px;
margin: auto;
}

/* for maintenance purposes */

.main .working
{
    padding: 20px;
    text-align: center;
}

.main a
{
    font-style: oblique;
}

/* Text classes (this is optional and can be undone if necessary) */
h1 
{
    font-size: 4vh !important;
    margin-bottom: 2vw !important;
}

p 
{
    font-size: 2.5vh !important;
    margin-bottom: 2vw !important;
}

h2 
{
    font-size: 3.2vh !important;
    margin-bottom: 2vw !important;
}

li 
{
    font-size: 2.5vh !important;
    margin-bottom: 10px !important;
}

/* Mobile optimizations */

@media only screen and (max-width: 1026px) 
{

header nav {
    float: none;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}

header nav a {
    padding: none !important;
}

.main {
    width: 90vw;
    padding: 5px;
}

}